body, td, select, input{font-family: verdana; font-size:11px;}
.w	{color:#ffffff;}
.bw	{color:#ffffff; font-weight:bold;}

.s	{font-size:9px;}

form	{margin:0px;}

.f	{background:#ffffff;}
.d	{background:#f7f7f7;}